:root {
    --black: #000000;
    --white: #ffffff;
    --dwhite: #f2f2f2;
    --terrakot: #f06c64;
    --dterrakot: #ea676b;
    --darkblue: #2d303a;
    --ddarkblue: #323746;
}

  
body {
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
  
.main-header {
    height: 89px;
    background-color: var(--darkblue);
}

.main-header > .container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-size: 25px;
    line-height: 89px;   
    color: var(--white);
    font-family: "Lato";
    font-weight: 700;
    text-decoration: none;
}

.logo span:last-child {
    color: var(--terrakot)
}

.main-nav {
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    padding-right: 40px;
    padding-top: 8px;
}

.main-nav > ul {
    display: flex;
}

.main-nav > ul > li {
    list-style-type: none;
}

.main-nav > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: var(--white);
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.main-nav > ul > li > .active-nav {
    color: var(--terrakot);
    cursor: default;
}

.main-nav > ul > li > span {
    font-size: 12px;
    color: var(--ddarkblue);
    padding: 0 14px;
    user-select: none;
}

.hr {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--ddarkblue);
    display: block;
    height: 6px;
    border: 0;
}

.slider {
    height: 600px;
    background-color: var(--terrakot);
    border-bottom: 6px solid var(--dterrakot);
    box-sizing: border-box;
}

.slider > .container {
    display: flex;
    align-items: center;
}

.slider > .container > .chev-h {
    height: 27px;
    margin: 53px 54px 0 42px;
}

.slider > .container > .iPhone-v {
    margin-top: 53px;

}

.slider > .container > .iPhone-h {
    margin-top: 53px;
    margin-left: 73px;
}

.slider > .container > .chev-r {
    height: 27px;
    margin: 53px 40px 0 54px;
}



.service {
    height: 500px;
    background-color: var(--dwhite);
    border-bottom: 6px solid var(--white);
    box-sizing: border-box;
}
