:root {
    --black: #000000;
    --white: #ffffff;
    --dwhite: #f2f2f2;
    --terrakot: #f06c64;
    --dterrakot: #ea676b;
    --darkblue: #2d303a;
    --ddarkblue: #323746;
    --gray: #666d89;
    --wdarkblue: #494e62;
}

  
body {
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}
  
.main-header {
    height: 89px;
    background-color: var(--darkblue);
}

.main-header > .container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-size: 25px;
    line-height: 89px;
    font-stretch: semi-condensed;
    color: var(--white);
    font-family: "Lato";
    margin-top: -1px;
    letter-spacing: -0.5px;
    text-decoration: none;
}

.logo span:last-child {
    color: var(--terrakot)
}

.main-nav {
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    padding-right: 40px;
    padding-top: 7px;
}

.main-nav > ul {
    display: flex;
}

.main-nav > ul > li {
    list-style-type: none;
}

.main-nav > ul > li:not(:last-child):after {
    content: '•';
    font-size: 5px;
    color: var(--wdarkblue);
    padding: 0 14.9px 0 14.9px;
    user-select: none;
}

.main-nav > ul > li > a {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: var(--white);
    font-family: "Lato";
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.5px;
}

.main-nav > ul > li > .active-nav {
    color: var(--terrakot);
    cursor: default;
}

.hr {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--ddarkblue);
    display: block;
    height: 6px;
    border: 0;
}

.slider {
    height: 600px;
    background-color: var(--terrakot);
    border-bottom: 6px solid var(--dterrakot);
    box-sizing: border-box;
}

.slider > .container {
    display: flex;
    align-items: center;
}

.slider > .container > .chev-h {
    height: 27px;
    margin: 53px 54px 0 42px;
}

.slider > .container > .iPhone-v {
    margin-top: 53px;
    pointer-events: none;
}

.slider > .container > .iPhone-h {
    margin-top: 52px;
    margin-left: 73px;
    pointer-events: none;
}

.slider > .container > .chev-r {
    height: 27px;
    margin: 53px 40px 0 55px;
}

.service {
    height: 500px;
    background-color: var(--dwhite);
    border-bottom: 6px solid var(--white);
    box-sizing: border-box;
}

.service > .container > .Service-head {
    margin: 0;
    line-height: 22px;
    padding: 67px 0 0 40px;
    font-size: 30px;
    color: var(--gray);
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
}

.service > .container > .Service-text {
    margin: 25px 0 49px 41px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.23px;
    color: var(--gray);
    width: 940px;
    height: 57px;
    text-align: justify;
}

.service > .container > .features {
    display: grid;
    grid-template-columns: 300px 301px 300px;
    grid-gap: 37px 19px;
    margin: 0 40px 0 41px;
}

.service > .container > .features > .skill {
    display: grid;
    grid-template-columns: 80px auto;
    height: 86px;
}

.service > .container > .features > .skill > .sh > .service-img {
    pointer-events: none;
}

.service > .container > .features > .skill > .Service-text-min > .head-min {
    display: flex;
    margin-top: -2px;
    font-size: 18px;
    line-height: 18px;
    color: var(--gray);
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 10px;
}

.service > .container > .features > .skill > .Service-text-min > .text-min {
    font-size: 12px;
    line-height: 22px;
    color: var(--gray);
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    height: 62px;
    overflow: hidden;
}

.logo:hover{
    opacity: 0.5;
    cursor: pointer;
}

.main-nav a:hover {
    color: var(--terrakot);
    text-decoration: underline;
}

.chev-h:hover {
    opacity: 0.5;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px var(--ddarkblue))
}

.chev-r:hover {
    opacity: 0.5;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px var(--ddarkblue))
}